.post-player {
    width: 480px;
    height: 480px;
    background-color: #dddddd;

    .post-animated-image,
    .post-overlay {
        width: 100%;
        height: 100%;
    }

    .post-animated-image {
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.user-profile-image {
    height: 75px;
    width: 75px;
    background: #ddd;
    border-radius: 100%;
}